<VirtualHost *:80>
        ServerAdmin admin@example.com
        ServerName buildbot.example.com

        <Location "/change_hook/github">
                Satisfy any
                Order deny,allow
                Deny from all
                Allow from 207.97.227.253/32 50.57.128.197/32 108.171.174.178/32 50.57.231.61/32 204.232.175.64/27 192.30.252.0/22
        </Location>

        ProxyPass        / http://localhost:8010/
        ProxyPassReverse / http://localhost:8010/

        ErrorLog /var/log/apache2/bbot/error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        CustomLog /var/log/apache2/bbot/access.log combined
</VirtualHost>

